<div class="container">
    <div class="row">
        <div class="col-2"></div>
            <div class="col-8">
                
                    <div class="mb-3">
                        <input type="text" name="" id="" class="form-control" [(ngModel)]="num1"  placeholder="enter nummber 1">
                    </div>
                    <div class="mb-3">
                        <input type="text" name="" id="" class="form-control" [(ngModel)]="num2"  placeholder="enter nummber 2">
                    </div>
                    <div class="b-3">
                        <button class="btn btn-info" (click)="mult()">multiply</button>
                    </div>
                    <div class="mb-3">
                        output ={{result}}
                    </div>
            
                
            </div>
            <div class="col-2"></div>
        
    </div>
 </div>

